arxiv-metadata-oai-snapshot.json
*.pkl
*.DS_STORE
*.log
*.outputs
*.pyc
**/*.ipynb_checkpoints/

datascience/*.json
datascience/*.zip
blog/output
# Local Netlify folder
.netlify
**/config/prod.env
**/config/dev.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover

# Pycharm
.idea

# VS Code
.vscode/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# Mac OS-specific storage files
.DS_Store

data/*
**/config/prod.env
**/config/dev.env

# ignore outputs
output/*
model_outputs*/

# ignore user history
.cli_history
